services:
  mosquitto:
    image: eclipse-mosquitto
    container_name: mqtt-broker
    ports:
      - "1883:1883" # Port MQTT
      - "9001:9001" # Port WebSocket
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    restart: unless-stopped

  streamlit:
    build: ./python
    container_name: streamlit
    ports:
      - "8501:8501"
    volumes:
      - ./python:/app
    env_file:
      - ./python/.env
    environment:
      - MQTT_BROKER=mosquitto
    depends_on:
      - mosquitto
    restart: unless-stopped
